<head><link href= "index.css" rel="stylesheet"/></head>
<body>
  <form action="posts" id="postForm" method="post"></form>
  <table>
    <tr>
      <th>Image URL</th>
      <th>Title</th>
      <th>Description</th>
      <th>Theme</th>
      <th>Link</th>
    </tr>
    <% dbPosts.forEach(post => { %>
      <tr>
        <td><a href=<%=post.imgUrl%>><img src=<%=post.imgUrl%> ></a></td>
        <td><%= post.title %> </td>
        <td><%= post.description %> </td>
        <td><%= post.theme %> </td>
        <td><a href=<%=post.link%>><%=post.link%></a></td>
        <td id="button"><a href=<%="posts/"+post.id %> ><button type="button">Deletar</button></a></td>
      </tr>
     
    <% }) %>
    <tr> <td><input type="text" id="imgUrl" name="imgUrl"form="postForm"></td>
      <td><input type="text" id="title" name="title"form="postForm"></td>
      <td><input type="text" id="description" name="description"form="postForm"></td>
      <td><select id="theme" name="theme"form="postForm">
        <option value="Esportes">Esportes</option>
        <option value="Política">Política</option>
        <option value="Entretenimento">Entretenimento</option>
        <option value="Famosos">Famosos</option>
      </select></td>
      <td><input type="text"id="link" name="link"form="postForm"></td>
      <td  id="button"><input type="submit" value="Criar" form="postForm"/></td>
   </tr>
    </table>
    
     
     
</body>
